@font-face {
	font-family: Sahara;
	src:url(Sahara.ttf);
}

@font-face {
	font-family: Regencie;
	src:url(RegencieLight.ttf);
}

@font-face {
	font-family: Varela;
	src:url(VarelaRound-Regular.otf);
}