@font-face {
	font-family: Regencie;
	src: url(http://www.fontspace.com/%C3%A1lvaro-thom%C3%A1z/regencie?text=&fontsize=80&foreground=000000&background=FFFFFF);
}

@font-face {
	font-family: Sahara;
	src:url(assets/fonts/Sahara.ttf);
}